

.dashboard-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid red;

    @media (max-width: 800px) {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
    }

   
      .dashboard-div {
        border: 1px solid green;
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
        align-content: center;
        //box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);   
        //background: #2eb497;
        //border-bottom: 2px solid#2eb29a;
        padding: 15px;
        //margin: 3vh auto;

        @media (max-width: 800px) {
          width: 100%;
          height: 100%;
        }
    
        @media (max-width: 500px) {
          width: 100%;
          height: 100%;
        }

        .map {
          width: 45%;
          height: 100%;
          border: 1px solid blue;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin-right: 5%;

          @media (max-width: 800px) {
            width: 100%;
            height: 100%;
          }
      
          @media (max-width: 500px) {
            width: 100%;
            height: 100%;
          }

        }//end map

        .right-half {
          width: 45%;
          height: 100%;
          border: 1px solid purple;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-content: center;

          @media (max-width: 800px) {
            width: 100%;
            height: 100%;
          }
      
          @media (max-width: 500px) {
            width: 100%;
            height: 100%;
          }


          .rooms{
            width: 90%;
            height: 30%;
            border: 1px solid red;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }
  
          }

          .players{
            width: 90%;
            height: 30%;
            border: 1px solid red;
            overflow: scroll;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }
  
          }

          .directions{
            width: 90%;
            height: 30%;
            border: 1px solid red;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }
  
          }

      


        }//end map
        .grass{
          border: 1px solid rgb(13, 143, 13);
          width: 40px;
          height: 40px;
          background-color: green;
        }
        .npath{
          border-top: 2px solid black;
          // background-color: rgb(62, 63, 62);
          width: 40px;
          height:40px;
        }
        .spath{
          border-bottom: 2px solid black;
          // background-color: green;
          width: 40px;
          height:40px;
        }
        .epath{
          border-right: 2px solid black;
          // background-color: green;
          width: 40px;
          height:40px;
        }
        .wpath{
          border-left: 2px solid black;
          // background-color: green;
          width: 40px;
          height:40px;
        }
        .wall{
          border: 1px solid grey;
          width: 40px;
          height: 40px;
          background-color: grey;
        }
        .current{
          border: 1px solid red;
          width: 40px;
          height: 40px;
          background-color: indigo;
        }

          .gridContainer{
            display: flex;
            align-content: space-around;
            justify-content: center;
            background-image: url("../assets/Map800x800x32x32.bmp");
            background-size: contain;
            flex-wrap: wrap;
            height: 500px;
            width: 500px;
            border:2px solid goldenrod;

          }
          .charContainer{
            position: absolute;
            z-index: 100000;
                       
          }
          .char{
          position: absolute;
          width: 40px;
          height:40px;
          // left: 0 + px; // THESE ARE SET DYNAMICALLY ON MOVE
          // top: 0 + px;
        } 

          
      }//end dashboard-div   

}//end dashboard-container