.dashboard-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid red;

    @media (max-width: 800px) {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
    }

   
      .dashboard-div {
        border: 1px solid green;
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-between;
        align-content: center;
        //box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);   
        //background: #2eb497;
        //border-bottom: 2px solid#2eb29a;
        padding: 15px;
        //margin: 3vh auto;

        @media (max-width: 800px) {
          width: 100%;
          height: 100%;
        }
    
        @media (max-width: 500px) {
          width: 100%;
          height: 100%;
        }

        .map {
          width: 60%;
          height: 100%;
          border:2px solid goldenrod;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin-right: 5%;

          @media (max-width: 800px) {
            width: 100%;
            height: 100%;
          }
      
          @media (max-width: 500px) {
            width: 100%;
            height: 100%;
          }

        }//end map

        .right-half {
          width: 35%;
          height: 100%;
          //border: 1px solid purple;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-content: center;

          @media (max-width: 800px) {
            width: 100%;
            height: 100%;
          }
      
          @media (max-width: 500px) {
            width: 100%;
            height: 100%;
          }


          .rooms{
            width: 90%;
            height: 30%;
            border: 1px solid goldenrod;            

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }

            h3 {
              font-family: 'Jim Nightshade', cursive; 
              font-size: 2rem;
            }
  
          }

          .error-msg{
            width: 90%;
            height: 10%;                       

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }            
  
          }

          .players{
            width: 90%;
            height: 30%;
            border: 1px solid goldenrod;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }

            h3 {
              font-family: 'Jim Nightshade', cursive; 
              font-size: 2rem;
            }
  
          }

          .directions{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 90%;
            height: 30%;
            border: 1px solid goldenrod;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }

            .north{
              margin-top: 5%;
              height: 30%;
            }

            .east-west{             
              height: 30%;

              .west-btn {
                margin-right: 5%;
              }
            }

            .south{
              height: 30%;
            } 
            
            button {                   
              
              background: #212229;
              text-align: center;
              padding: 5px 5px;
              border-radius: 3px;
              //border: 1px solid goldenrod;
              color: white;              
              cursor: pointer;
             
          
              &:hover {
                background: black;
                color: white;
              }
              
              
              @media (max-width: 800px) {              
                width: 100%;    
                
              }
          
              @media (max-width: 500px) {              
                width: 100%;
                
              }
          
            }
          
  
          }//end directions

      


        }//end map
        .grass{
          border: 1px solid rgb(13, 143, 13);
          width: 30px;
          height: 30px;
          background-color: green;
        }
        .wall{
          border: 1px solid grey;
          width: 30px;
          height: 30px;
          background-color: grey;
        }
        .current{
          border: 1px solid red;
          width: 30px;
          height: 30px;
          background-color: indigo;
        }

          .gridContainer{
            display: flex;
            align-content: stretch;
            justify-content: center;
            background-color: green;
            flex-wrap: wrap;
            height: 384px;
            width: 384px;
            border:2px solid goldenrod;

          }


          
      }//end dashboard-div   

}//end dashboard-container