.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, minmax(4rem, 1fr));
  grid-template-rows: repeat(10, minmax(3rem, 1fr)); 
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid > * {
  //background: rgba(0,0,0,0.1);
  //background: goldenrod;
  //border: 2px white solid; 
  
}



.tile{  
  //background: rgba(0,0,0,0.1);
  //background: goldenrod;
  //border: 2px white solid; 
  //background-size: 100% 100%; 
  //background-repeat: no-repeat;
  background-color: silver;
  background-image: linear-gradient(335deg, #993300 23px, transparent 23px), linear-gradient(155deg, #993300 23px, transparent 23px), linear-gradient(335deg, #993300 23px, transparent 23px), linear-gradient(155deg, #993300 23px, transparent 23px);  
  //background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
 
}

.tile-selected {   
  //background: royalblue;   
  //border: 2px white solid;
  //border: 1px solid red;
  background-size: 100% 100%; 
  background-repeat: no-repeat;
}



